.page {
    min-width: 100vw;
    min-height: 100vh;
    background-color: black; 
    margin: 0;
    padding: 0;

    &__paragraph {
        color: white;
        font-family: sans-serif;
        padding: 0;
    }

    &__image {
        height: 50vh;

        &--dog {
            background: url("./../public/images/download.jpg");
            background-repeat: none;
            background-size: contain;

        }
    }
}